/* STYLES */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic);

* {
	outline: none;
}

html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	margin: 0;
	color: #454545;
}

.night {
	background: #454545;
	color: #FFF;
	
}

.day {
	background: #FFF;
	color: #454545;
}

#everything {
	position: absolute;
	width: 950px;
	height: 380px;
}

.drop {
	display: inline-block;
	position: relative;
	width: 120px;
	margin: 0 20px;
	border:1px solid #454545;
	text-align: center;
	cursor: pointer;

}

button {
	background: #454545;
	color: #FFF;
	width: 120px;
	position: relative;
	padding: 16px 15px;
	border: 0;
	cursor: pointer;
	margin: 0 20px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  	background: #454545;
  	border-bottom: 2px solid #2f2e2e;
  	-webkit-box-shadow: inset 0 -2px #2f2e2e;
  	box-shadow: inset 0 -2px #2f2e2e;
}

button:active {
	  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button h3 {
	margin: 0;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
}

ul {
	position: absolute;
	width: 100%;
	display: none;
	background: #FFFFFF;
	/*background: #DDE9FF; */
	padding: 0;
	margin: 0;
	left: -1px;
	top: 100%;
	border: 1px solid #454545;
	/*overflow-y: scroll; 
	max-height:200px;	*/
}

ul li {
	list-style: none;
	cursor: pointer;
	width: 50%;
	display: inline-block;
}

ul li:hover {
	background: #F0F0F0;
}

ul li p {
	margin: 0;
	padding: 5px 0;
}

.show {
	display: block;

}

#sleep, #instant{
	margin: 0 auto;
}

#sleep {
	width: 658px;
}

#instant {
	margin-top: 25px;
	opacity: 0;
}

#instant h1 {
	display: inline-block;
	margin: 20px 0;
	font-size: 3.5em;
	width: 25%;
	text-align: center;
	font-weight: 400;
}

#instant h1:nth-child(1) {
	/*color: #18D236;*/
	color: #47A447;
}

#instant h1:nth-child(2) {
	/*color: #ADD236; */
	color: #95B34B;
}

#instant h1:nth-child(3) {
/*	color: #F29305; */
	color: #ED9C28;

}

#instant h1:nth-child(4) {
	/*color: #F20505; */
	color: #d9534f;
}

small {
	font-size: 36px;
}

#theTime {
	margin: 0 auto;
	font-size: 5.5em;
	text-align: center;
}

#theTime h1 {
	font-weight: 300;
	margin: 0;
}

.wake {
	text-align: center;
}

.wake h3 {
	margin: 30px 0px 15px 0px;
	font-style: italic;
	font-weight: 300;

}

.drop:active {
	box-shadow:inset 0px 2px 8px #D3D3D3;
}

.box {
	box-shadow: inset 0px 2px 3px #D3D3D3;
}



